/* Small Screens */
@media screen and (min-width: 576px) {
  .sm-16 {
    width: 16.6667% !important;
  }
  .sm-20 {
    width: 20% !important;
  }
  .sm-25 {
    width: 25% !important;
  }
  .sm-33 {
    width: 33.333% !important;
  }
  .sm-40 {
    width: 40% !important;
  }
  .sm-45 {
    width: 45% !important;
  }
  .sm-50 {
    width: 50% !important;
  }
  .sm-60 {
    width: 60% !important;
  }
  .sm-66 {
    width: 66.6667% !important;
  }
  .sm-100 {
    width: 100% !important;
  }
  .container {
    width: 540px !important;
  }
}
/* Medium Screens */
@media screen and (min-width: 768px) {
  .md-16 {
    width: 16.6667% !important;
  }
  .md-20 {
    width: 20% !important;
  }
  .md-25 {
    width: 25% !important;
  }
  .md-33 {
    width: 33.333% !important;
  }
  .md-40 {
    width: 40% !important;
  }
  .md-45 {
    width: 45% !important;
  }
  .md-50 {
    width: 50% !important;
  }
  .md-60 {
    width: 60% !important;
  }
  .md-66 {
    width: 66.6667% !important;
  }
  .md-100 {
    width: 100% !important;
  }
  .container {
    width: 720px !important;
    padding-inline: 0;
  }
}
/* Large Screens */
@media screen and (min-width: 992px) {
  .lg-16 {
    width: 16.6667% !important;
  }
  .lg-20 {
    width: 20% !important;
  }
  .lg-25 {
    width: 25% !important;
  }
  .lg-33 {
    width: 33.333% !important;
  }
  .lg-40 {
    width: 40% !important;
  }
  .lg-45 {
    width: 45% !important;
  }
  .lg-50 {
    width: 50% !important;
  }
  .lg-60 {
    width: 60% !important;
  }
  .lg-66 {
    width: 66.6667% !important;
  }
  .lg-100 {
    width: 100% !important;
  }
  .container {
    width: 960px !important;
  }
}
/* Extra Large Screens */
@media screen and (min-width: 1200px) {
  .xl-16 {
    width: 16.6667% !important;
  }
  .xl-20 {
    width: 20% !important;
  }
  .xl-25 {
    width: 25% !important;
  }
  .xl-33 {
    width: 33.333% !important;
  }
  .xl-40 {
    width: 40% !important;
  }
  .xl-45 {
    width: 45% !important;
  }
  .xl-50 {
    width: 50% !important;
  }
  .xl-60 {
    width: 60% !important;
  }
  .xl-66 {
    width: 66.6667% !important;
  }
  .xl-100 {
    width: 100% !important;
  }
  .container {
    width: 1140px !important;
    margin: auto !important;
  }
}
/* 2 x Extra Large Screens */
@media screen and (min-width: 1400px) {
  .xxl-16 {
    width: 16.6667% !important;
  }
  .xxl-20 {
    width: 20% !important;
  }
  .xxl-25 {
    width: 25% !important;
  }
  .xxl-33 {
    width: 33.333% !important;
  }
  .xxl-40 {
    width: 40% !important;
  }
  .xxl-45 {
    width: 45% !important;
  }
  .xxl-50 {
    width: 50% !important;
  }
  .xxl-60 {
    width: 60% !important;
  }
  .xxl-66 {
    width: 66.6667% !important;
  }
  .xxl-100 {
    width: 100% !important;
  }
  .container {
    width: 1320px !important;
    margin: auto !important;
  }
}
